html {
  background-color: cyan;
}

.header a {
  color: black;
  margin: 0;
  padding: 20px;
}

.underline {
  text-decoration: underline;
}

.nav {
  margin-top: 80px;
}

.nav a {
  text-decoration: none;
  color: black;
  margin: 0px;
  padding: 20px;
}

.wrapper {
  width: 70vw;
  margin: 16px auto;
  padding: 16px;
  box-sizing: border-box;
  background-color: darkgray;
}

.header a:hover {
  background-color: darkgrey;
  color: black;
}
