.header a {
  color: black;
  margin: 0;
  padding: 20px;
}

html {
  background-color: cyan;
}

.wrapper {
  background-color: darkgrey;
  width: 70vw;
  margin: 16px auto;
  padding: 16px;
  box-sizing: border-box;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
}

td {
  background-color: darksalmon;
}
